name: CI

on:
  push:
    branches: [ main, develop ]
  pull_request:
    branches: [ main ]

jobs:
  
  go-lint:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    
    - uses: actions/setup-go@v4
      with:
        go-version: '1.23'
    
    - name: Setup Go environment and dependencies
      #working-directory: Exporter
      run: |
        # Generate go.sum if missing or incomplete
        go mod tidy
        
        # Download all dependencies
        go mod download
        go mod verify
        
        # Test that it builds
        go build -v
    
    - name: Install golangci-lint
      run: |
        curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.64.8
        echo "$(go env GOPATH)/bin" >> $GITHUB_PATH
    
    - name: Run golangci-lint
      #working-directory: Exporter
      run: golangci-lint run --timeout=5m
